
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}


.header {
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.cart-wrapper {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}


.container {
  display: flex;
}


.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  min-height: calc(100vh - 60px);
  padding: 16px;
  transition: left 0.3s;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  display: none;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s, transform 0.2s;
}

.sidebar li:hover {
  background: #334155;
  transform: translateX(4px);
}

.sidebar li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  /* background: #38bdf8; */
  opacity: 0;
}

.sidebar li.active {
  background: #0f172a;
}

.sidebar li.active::before {
  opacity: 1;
}


.main {
  flex: 1;
  padding: 20px;
}

.page-title {
  font-size: 22px;
  margin-bottom: 16px;
}


.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.product-card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background: #f8fafc;
  border-radius: 8px;
}

.product-card h4 {
  margin-top: 12px;
  min-height: 24px;
}

.product-card p {
  min-height: 20px;
  color: #475569;
}

.product-card button {
  margin-top: auto;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #0ea5e9;
  color: white;
  cursor: pointer;
}

.product-card button:hover {
  background: #0284c7;
}

@media (max-width: 700px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: -100%;
    z-index: 10;
  }

  .sidebar.show {
    left: 0;
  }

  .close-btn {
    display: block;
  }
}
